---
layout: default
title: Shavon Nand
---

<section class="about">
  <h1 class="title">I'm <span class="p-name">Shavon Nand</span>.</h1>
  <p>
    Hi!
  </p>
</section>
<h2 class="bottom-margin">Recent Activity</h2>
<section class="speaking">
  {% for post in site.posts limit:5 %}
  <section>
    <h3>"{{ post.title }}"</h3>
    {% if page.subtitle %}
    {{ post.subtitle }}
    {%- else -%}
    {{ post.excerpt  | strip_html | truncatewords: 10}}
    {% endif %}
    <div class="timestamp"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B, %Y" }}</time></div>
    <div class="links"><a href="{{ post.url }}">Read post</a></div>
  </section>
  {% endfor %}
</section>

