---
layout: default
title: Links
---

<h1>Links</h1>

<div class="links-feed">
    {% for link in site.links reversed %}
    <article class="h-entry" aria-labelledby="link-{{ link.id }}-title">
        <h2 id="link-{{ link.id }}-title" class="link-title">
            <a class="p-name" href="{{ link.external_url }}" target="_blank"
                rel="nofollow noopener noreferrer">
                {{ link.title }}
            </a>
        </h2>

        {% if link.content %}
        <section class="p-summary link-content">
            {{ link.content | markdownify }}
        </section>
        {% endif %}

        {% if link.external_url %}
        <div class="external-url">
            <img
                src="https://www.google.com/s2/favicons?domain={{ link.external_url | uri_escape }}"
                alt class="favicon">
            {% assign url_parts = link.external_url | replace: "https://", "" |
            replace: "http://", "" | split: "/" %}
            {% assign domain = url_parts[0] %}
            <a href="{{ link.external_url }}" target="_blank"
                rel="nofollow noopener noreferrer" class="url-text">
                {{ domain | replace: "www.", "" }}
            </a>

        </div>
        {% endif %}

        <time class="dt-published"
            datetime="{{ link.date | date_to_xmlschema }}">
            <a href="{{ link.url }}">{{ link.date | date: "%-d %b, %Y" }}</a>
        </time>
    </article>
    {% endfor %}
</div>