---
layout: default
title: Reading
---

<div class="reading">
  <div class="content-box">
    <p>Interested in what I'm reading these days? Check out my reading lists. I
      also have a <a href="/blogroll">blogroll</a> of sites I read
      regularly.</p>
<div class="reading-section">
  <h3><a href="/reading/shortform">Shortform reading list </a></h3>

  <div class="rss-link">
    <img class="rss-icon bw-icon" src="{{ '/assets/images/rss.svg' | relative_url }}">  
    <a href="/shortform/feed.xml" target="_blank">RSS </a>
  </div>

<div class="reading-section-body">
  {% assign sorted_links = site.data.shortform | sort: 'accessed' | reverse %}
  {% assign recent_link = sorted_links.first %}

  I most recently read 
  “<a href="{{ recent_link.external_url }}">{{ recent_link.title }}</a>”
  {% if recent_link.author %} by {{ recent_link.author }}{% endif %}
  {% if recent_link.publication %} in <i>{{ recent_link.publication }}</i>.{% endif %}
</div>

</div>


<div class="reading-section">
  <h3><a href="/reading/books">Books </a></h3>
  <div class="reading-section-body">
    <div class="currently-reading">
      <span>I'm currently reading:</span>

      {% assign current_reads = site.data.reading 
         | where: "status", "currently reading" 
         | sort: "started" 
         | reverse %}

      {% for book in current_reads %}
        <div class="book h-entry hentry">
          <a class="book-cover-link" href="{{ book.link }}">
            <img class="u-photo book-cover" 
                 src="{{ book.cover }}" 
                 alt="Cover image of {{ book.title }}">
          </a>

          <div class="book-details">
            <div class="top">
              {% if book.series %}
                <div class="series-info">
                  <i>{{ book.series }}</i> series{% if book.series_number %}, book&nbsp;<span class="series-number">{{ book.series_number }}</span>{% endif %}.
                </div>
              {% endif %}

              <div class="title-and-byline">
                <div class="title"><i class="p-name">{{ book.title }}</i></div>
                <div class="subtitle"> <i>{{ book.subtitle }}</i></div>
                <div class="byline">
                  by <span class="p-author h-card">{{ book.author }}</span>.
                  {% if book.audio %}
                    <div class="format">Audiobook. </div>
                  {% endif %}
                </div>
              </div>

              <div class="book-info">
                Published <time class="dt-published published" datetime="{{ book.published | date: '%Y' }}">{{ book.published | date: '%Y' }}</time>.
                {{ book.pages }} pages.
              </div>

              {% if book.genre %}
                <div class="tags">
                  {% for tag in book.genre %}
                    <span class="p-category">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="bottom">
              <div class="reading-info">
                <div class="reading-dates">
                  {% if book.started %}
                    Started <time class="dt-accessed accessed" datetime="{{ book.started }}">{{ book.started | date: "%B %-d, %Y" }}</time>.
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

  </div>
</div>