---
layout: default
title: Latest Posts
---

<section class="projects">
  <h1>Writing</h1>

  {% for post in site.posts %}
  <div class="project">
    <div class="contents-block">
      <div class="contents">
        <h2 class="h3">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="metadata">
          <span>
            {{ post.date | date: "%Y" }} • <a href="{{ post.url }}">Read post</a>
          </span>
        </div>

        <p>
          {{ post.excerpt | strip_html | truncatewords: 12}}
        </p>
      </div>

      {% if post.image %}
      <div class="image">
        <a href="{{ post.url }}">
          <img src="{{ post.image | relative_url }}" alt="{{ post.alt | default: post.title }}">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
