

<nav role="navigation" data-nosnippet="" aria-label="Main">
  <!-- Logo block -->
  <div class="logo-image">
    <a class="u-url u-uid" href="/">
      <picture>
        <source media="(min-width: 769px)" srcset="/assets/images/shavon.webp" type="image/webp">
        <source media="(max-width: 768px)" srcset="/assets/images/shavon_horizontal.webp" type="image/webp">
        <img class="u-photo u-logo" src="/assets/images/shavon.jpeg" type="image/webp" alt="A photograph of Shavon Nand as a child sitting in a child safety seat.">
      </picture>
    </a>
  </div>

  <!-- Menu toggle -->
  <button class="menu-toggle" id="menu-toggle">Menu</button>

  <!-- Navigation links -->
  <div class="nav-links collapsed" id="nav-links">
    <ul class="top-level">
      {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
      <li><a href="{{ '/search/' | relative_url }}" class="button">Search</a></li>
    </ul>

    <ul>
      <li class="nav-header">Other Interests</li>
      <li><a rel="u-url" href="{{ site.url }}/blogroll.html">Blogroll</a></li>
      <li><a rel="u-url" href="{{ site.url }}/reading.html">Reading lists</a></li>
      <li><a rel="u-url" href="{{ site.url }}/links.html">Links</a></li>
    </ul>

    <ul>
      <li class="nav-header">Social</li>
      <li><a class="u-url" href="https://www.linkedin.com/in/shavon-nand-a77185245/" rel="me">LinkedIn</a></li>
      <li><a class="u-url" href="https://letterboxd.com/SCN/" rel="me">Letterboxd</a></li>
      <li><a class="u-url" href="https://github.com/snand5" rel="me">GitHub</a></li>
      <li><a class="u-url" href="https://www.youtube.com/@shavon" rel="me">YouTube</a></li>
      <li><a class="u-url" type="application/rss+xml" href="{{ '/feed.xml' | relative_url }}">Article RSS</a></li>
      <li><a rel="u-url" type="application/rss+xml" href="{{ site.url }}/links.xml">Links RSS</a></li>
      
    </ul>
  </div>
</nav>

<script src="/assets/js/nav.js"></script>
