---
layout: default
title: Search
---
<div class="searching">
  <form action="{{ page.url }}" class="search-form" data-json="{{ '/search.json' | relative_url }}">
    <p>
      <label>Search</label>
      <input name="keyword" placeholder="Type something...">
    </p>

    <button title="Search">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <circle cx="10" cy="10" r="7"></circle>
        <line x1="21" y1="21" x2="15" y2="15"></line>
      </svg>
    </button>
  </form>

  <div class="search-result">
    <h3 class="search-result--title section-title"></h3>
    <div class="search-result--list article-list--compact"></div>
  </div>
</div>
  <script>
    window.searchResultTitleTemplate = "#PAGES_COUNT pages (#TIME_SECONDS seconds)";
  </script>
  <script type="module" src="{{ '/assets/js/search.js' | relative_url }}" defer></script>
