html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 25px;
  background-color: #f7f7f7;
  color: #222;
  font-size: 25px;
}

.dark-mode {
  background-color: #222;
  color: #f7f7f7;
}